#contenido{
    width: 60%;
    margin: auto;
    background-color: white;
    margin-top: 5px;
}
body{
    background-color: black;
 }
header{
    margin:auto;
    width: 60%;
    height: 300px;
    text-align: center;
    background-color: white;
    border-style: groove;
    border-width: 2mm;
    border-radius: 1mm;
    margin-top: 5px;
}
#ruedaIzq{
    float: left;
    max-width: 100%;
    max-height: 100%;
}
#ruedaDer{
    float: right;
    max-width: 100%;
    max-height: 100%;
}
section{
    border-style: groove;
    border-width: 2mm;
    border-radius: 1mm;
}
footer{
    margin:auto;
    width: 60%;
    height: 300px;
    text-align: center;
    background-color: white;
    border-style: groove;
    border-width: 2mm;
    border-radius: 1mm;
    margin-top: 5px;
}
#ruedaUp{
    max-width: 100%;
    max-height: 100%;
}
form{
    margin: auto;
    width: 200px;
    margin-top: 10px;
    font-weight: bold;
}
fieldset{
    border-color: black;
}
#enviar{
    background-color: white;
    color:black;
    letter-spacing: 0px;
    font-weight: bolder;
}
#confirmacion{
    text-align: center;
    color: red;
    font-weight: bolder;

}
input{
    background-color: black;
    letter-spacing: 2px;
    color:white;
    font-weight: bolder;
}
#headerPersonalizado{
    height: 100px;
}
#formularioPrincipal{
    width: 202px;
    margin: auto;
    text-align: center;
}
#formularioPrincipal h3{
    background-color: black;
    color: white;
    font-weight: bolder;
    font-size: larger;
}
select{
    font-size: large;
    background-color: yellow;
}
select:hover{
    background-color: black;
    color: white;
}
h3{
    background-color: yellow;
}